.popup {
    display: flex;
    position: fixed;
    background-color: white;
    top:100px;
    left:200px;  
}
.popup__opened {
    display: flex;
}
.popup__background {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    top: 0
    
}
/* .popup__close-block {
    width: 11px;
} */
.popup__btn-close {
    background-image: url(https://i.pinimg.com/originals/ee/f0/bb/eef0bb100ff46a490c7350648085903a.png);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    margin-right: -40px;
    margin-top: -40px;
    border: none;
}
.popup__image_block {
    background-color: #cccccc;
    padding: 70px;
    margin-right: 50px;
}
.popup__image {
    width: 500px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, .5);
}
.popup__description {
    margin-top: 30px;
}

.popup__categories {
    font-style: italic;
    margin-bottom: 50px;
}
.popup__title{
    font-size: 48px;
    margin: 0;
}
.popup__author {
    color: grey;
    text-decoration: underline;
}

.popup__text {
    width: 900px;
    height: 400px;
    border: #ebebeb 1px solid;
}